node_modules/
.env
# Ignorar todos los archivos .log en la raíz del proyecto
*.log

# Ignorar imágenes en la carpeta public
public/
app/database/migrations/20241225140028-add-person-home-ids-to-tasks.js
